body {
  background-color: #ebeffb;
  margin: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  padding: 1rem;
  background-color: rgba(173, 216, 230, 0.379);
  text-align: center;
}

.progress-container {
  background-color: rgba(127, 155, 165, 0.294);
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 4px;
  transform: translateY(-50%);
  background-color: #e0e0e0;
  z-index: -1;
  transition: 0.4s;
}

.progress {
  position: absolute;
  top: 50%;
  left: 0;
  width: 0%;
  height: 4px;
  transform: translateY(-50%);
  background-color: #3498db;
  z-index: -1;
  transition: 0.4s;
}
